{% extends "layout.html" %}

{% block title %}
Search Results
{% endblock title %}

{% block content %}
<h1 class="text-center mt-5">Search Results for "{{ username }}"</h1>

<div class="container">
    <div class="row justify-content-center">
        {% if tweets %}
            {% for tweet in tweets %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if tweet.picture %}
                    <img src="{{ tweet.picture.url }}" class="card-img-top" alt="Tweet image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ tweet.user.username }}</h5>
                        <p class="card-text">{{ tweet.text }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {% if tweet.user == user %}
                            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No tweets found for "{{ username }}".</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
